.dashboard {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.course-card {
  background-color: #da2929;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.course-card:hover {
  transform: scale(1.05);
}

.course-card h3 {
  margin: 0 0 10px;
}

.course-card p {
  margin: 0;
}